*\.idea
*\__pycache__
*\.vscode
*\node_modules
*\dist
*\.bin
*\.pt

*\.csv
*\.zip

*\.vite

*\.vs
*\obj
*\bin
*\.log

.ipynb_checkpoints
__config__.py
*\.parquet
*\tmp

.env

# gitignore json
token.json
commits.json

*\volumes

*\graphdb/data